Options -Indexes 
ErrorDocument 404 /404.php

<IfModule mod_php5.c>
  php_flag allow_call_time_pass_reference 1
  php_flag session.use_trans_sid off

  #php_value display_errors 1

  #php_value mbstring.func_overload 2
  #php_value mbstring.internal_encoding UTF-8
</IfModule>

  Redirect 301 /devushki /actresses/
  Redirect 301 /dopolnitelnye-programmy /dop-programm/
  Redirect 301 /rez/teatralnoe-uchilishche /teatralnoe-uchilishche/
  Redirect 301 /specpredlojenie /offers/
  Redirect 301 /o-teatro/interer /interer/
  Redirect 301 /o-teatro/otzyvy /reviews/
  Redirect 301 /o-teatro/pravila-poseshcheniya /pravila-poseshcheniya/
  Redirect 301 /o-teatro/trudoustrojstvo /trudoustrojstvo/
  Redirect 301 /kontakty /contacts/
  Redirect 301 /eto-interesno /it-is-interesting/
  
RewriteCond %{HTTP_HOST} ^www.teatro36\.ru$ [NC]
RewriteRule ^(.*)$ http://teatro36.ru/$1 [R=301,L]

RewriteBase /
RewriteRule (.*)\.html$ $1 [R=301,L]

#убрать //
RewriteCond %{REQUEST_URI} ^(.*)/{2,}(.*)$
RewriteRule (.*) %1/%2 [R=301,L] 

# Убрать index.html index.php
RewriteCond %{THE_REQUEST} ^[A-Z]{3,9}\ /.*index\.(html|php)?\ HTTP/
RewriteRule ^(.*)index\.(html|php)?$ http://teatro36.ru/$1 [R=301,L]
  
<IfModule mod_rewrite.c>
  Options +FollowSymLinks
  RewriteEngine On
  
  
  RewriteCond %{QUERY_STRING} (^|&)Itemid\=0($|&)
RewriteRule ^component/jshopping/product/view/1/63$ /actresses/agata/? [L,R=301]
RewriteCond %{QUERY_STRING} (^|&)Itemid\=0($|&)
RewriteRule ^component/jshopping/product/view/1/62$ /actresses/ada/? [L,R=301]
RewriteCond %{QUERY_STRING} (^|&)Itemid\=0($|&)
RewriteRule ^component/jshopping/product/view/1/34$ /actresses/alisa/? [L,R=301]
RewriteCond %{QUERY_STRING} (^|&)Itemid\=0($|&)
RewriteRule ^component/jshopping/product/view/1/60$ /actresses/alina/? [L,R=301]
RewriteCond %{QUERY_STRING} (^|&)Itemid\=0($|&)
RewriteRule ^component/jshopping/product/view/1/68$ /actresses/angelina/? [L,R=301]
RewriteCond %{QUERY_STRING} (^|&)Itemid\=0($|&)
RewriteRule ^component/jshopping/product/view/1/28$ /actresses/arina/? [L,R=301]
RewriteCond %{QUERY_STRING} (^|&)Itemid\=0($|&)
RewriteRule ^component/jshopping/product/view/1/71$ /actresses/eva/? [L,R=301]
RewriteCond %{QUERY_STRING} (^|&)Itemid\=0($|&)
RewriteRule ^component/jshopping/product/view/1/42$ /actresses/ekaterina/? [L,R=301]
RewriteCond %{QUERY_STRING} (^|&)Itemid\=0($|&)
RewriteRule ^component/jshopping/product/view/1/35$ /actresses/kristina/? [L,R=301]
RewriteCond %{QUERY_STRING} (^|&)Itemid\=0($|&)
RewriteRule ^component/jshopping/product/view/1/69$ /actresses/lada/? [L,R=301]
RewriteCond %{QUERY_STRING} (^|&)Itemid\=0($|&)
RewriteRule ^component/jshopping/product/view/1/70$ /actresses/liza/? [L,R=301]
RewriteCond %{QUERY_STRING} (^|&)Itemid\=0($|&)
RewriteRule ^component/jshopping/product/view/1/64$ /actresses/lilit/? [L,R=301]
RewriteCond %{QUERY_STRING} (^|&)Itemid\=0($|&)
RewriteRule ^component/jshopping/product/view/1/40$ /actresses/taisiya/? [L,R=301]
RewriteCond %{QUERY_STRING} (^|&)Itemid\=0($|&)
RewriteRule ^component/jshopping/product/view/1/67$ /actresses/elya/? [L,R=301]

  
  

RewriteCond %{REQUEST_FILENAME} -f [OR]
RewriteCond %{REQUEST_FILENAME} -l [OR]
RewriteCond %{REQUEST_FILENAME} -d
RewriteCond %{REQUEST_FILENAME} [\xC2-\xDF][\x80-\xBF] [OR]
RewriteCond %{REQUEST_FILENAME} \xE0[\xA0-\xBF][\x80-\xBF] [OR]
RewriteCond %{REQUEST_FILENAME} [\xE1-\xEC\xEE\xEF][\x80-\xBF]{2} [OR]
RewriteCond %{REQUEST_FILENAME} \xED[\x80-\x9F][\x80-\xBF] [OR]
RewriteCond %{REQUEST_FILENAME} \xF0[\x90-\xBF][\x80-\xBF]{2} [OR]
RewriteCond %{REQUEST_FILENAME} [\xF1-\xF3][\x80-\xBF]{3} [OR]
RewriteCond %{REQUEST_FILENAME} \xF4[\x80-\x8F][\x80-\xBF]{2}
RewriteCond %{REQUEST_FILENAME} !/bitrix/virtual_file_system.php$
RewriteRule ^(.*)$ /bitrix/virtual_file_system.php [L]
  RewriteCond %{REQUEST_FILENAME} !-f
  RewriteCond %{REQUEST_FILENAME} !-l
  RewriteCond %{REQUEST_FILENAME} !-d
  RewriteCond %{REQUEST_FILENAME} !/bitrix/urlrewrite.php$
  RewriteRule ^(.*)$ /bitrix/urlrewrite.php [L]
  RewriteRule .* - [E=REMOTE_USER:%{HTTP:Authorization}]
</IfModule>

<IfModule mod_dir.c>
  DirectoryIndex index.php index.html
</IfModule>

<IfModule mod_expires.c>
  ExpiresActive on
  ExpiresByType image/jpeg "access plus 3 day"
  ExpiresByType image/gif "access plus 3 day"
</IfModule>
